{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="talk-item" style="margin-bottom: 1.5em; padding-bottom: 1em; border-bottom: 1px solid #e0e0e0;">
  <div class="talk-title" style="font-size: 1.1em; font-weight: bold; margin-bottom: 0.3em;">
    {% if post.link %}
      <a href="{{ post.link }}" style="color: #1a0dab; text-decoration: none;">{{ title }}</a>
    {% elsif post.paperurl %}
      <a href="{{ post.paperurl }}" style="color: #1a0dab; text-decoration: none;">{{ title }}</a>
    {% else %}
      <span style="color: #1a0dab;">{{ title }}</span>
    {% endif %}
  </div>
  
  <div class="talk-details" style="color: #666; font-size: 0.95em; line-height: 1.6;">
    {% if post.venue %}
      <div style="margin-bottom: 0.2em;">
        <span style="font-style: italic;">{{ post.venue }}</span>
        {% if post.location %}
          <span>, {{ post.location }}</span>
        {% endif %}
        {% if post.date %}
          <span>, {{ post.date | date: "%B %Y" }}</span>
        {% endif %}
      </div>
    {% endif %}
    
    <div class="talk-links" style="margin-top: 0.3em;">
      {% if post.paperurl %}
        {% if post.paperurl contains 'arxiv' %}
          <a href="{{ post.paperurl }}" style="color: #1a0dab; text-decoration: none; margin-right: 0.8em;">arXiv</a>
        {% elsif post.paperurl contains 'doi' %}
          <a href="{{ post.paperurl }}" style="color: #1a0dab; text-decoration: none; margin-right: 0.8em;">DOI</a>
        {% else %}
          <a href="{{ post.paperurl }}" style="color: #1a0dab; text-decoration: none; margin-right: 0.8em;">Paper</a>
        {% endif %}
      {% endif %}
      {% if post.link %}
        <a href="{{ post.link }}" style="color: #1a0dab; text-decoration: none; margin-right: 0.8em;">Event</a>
      {% endif %}
    </div>
  </div>
</div>

